@use "./reset.scss" as *;
@use "./font.scss" as *;
@use "./lib.scss" as *;

$primary: #D91E23;

:root {
	//-- Colors
	--active-blue-100: #ebf8fe;
	--active-blue-200: #6eb4e0;
	--active-blue-400: #0275d8;
	--active-blue-600: #10345e;
	--primary-blue-700: #072f40;
	--default-gray-900: #111827;
	--default-gray-500: #6b7280;
	--default-gray-200: #ebf8fe;
	--text-neutral-600: #848f9f;
	--text-neutral-700: #5f738c;
	--primary-blue-800: #647f8b;
	--neutral-200: #f3f5f6;
	--brand-colors-pop-blue: #00b8de;
	--white: #fff;
	--neutral-300: #e1e6ed;
	--neutral-800: #4e5a6c;

	//-- containers
	--container-lg: 1120px;
	--container-lgsx: 1127px;
	--container-lgx1: 1140px;
	--container-sm: 768px;
	--container-170: 1170px;
}

body {
	font-family: "Averta", sans-serif;

	@include scrollbar(
		5px,
		var(--default-gray-200),
		var(--active-blue-400)
	);
	overflow-x: hidden;
}

::selection {
	background-color: var(--default-gray-900);
	color: white;
}
